{
    "registrants":[
       {
          "catagory":"men",
          "timeslot": "11:00",
          "firstname":"name",
          "lastname":"lname",
          "email":"email@gmail.com"
       }
    ]
 }